/* Useful color palette: http://www.color-hex.com/color-palette/2799 */
/*For consistent/common components*/

button {
    padding: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 
    border: 1px solid #ffbf00;
    /* background-color: #ffbf00; */
    font-size: 16px;
    cursor: pointer;

    /* Shadow for 3D effect */
    /* Reference: https://designmodo.com/3d-css3-button/ */

    background-image: linear-gradient(bottom, #ffbf00 0%, #ffcf40 100%);
    background-image: -o-linear-gradient(bottom, #ffbf00 0%, #ffcf40 100%);
    background-image: -moz-linear-gradient(bottom, #ffbf00 0%, #ffcf40 100%);
    background-image: -webkit-linear-gradient(bottom, #ffbf00 0%, #ffcf40 100%);
    background-image: -ms-linear-gradient(bottom, #ffbf00 0%, #ffcf40 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #ffbf00),
        color-stop(1, #ffcf40)
    );

    text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #bf9b30, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #bf9b30, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #bf9b30, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5); 
}

button:active, button:hover {
    background-image: linear-gradient(bottom, #ffcf40 0%, #ffbf00 100%);
    background-image: -o-linear-gradient(bottom, #ffcf40 0%, #ffbf00 100%);
    background-image: -moz-linear-gradient(bottom, #ffcf40 0%, #ffbf00 100%);
    background-image: -webkit-linear-gradient(bottom, #ffcf40 0%, #ffbf00 100%);
    background-image: -ms-linear-gradient(bottom, #ffcf40 0%, #ffbf00 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #ffcf40),
        color-stop(1, #ffbf00)
    );
}

.spacer {
    width: 100%;
    color: #F9F3F4;
    float: right;
    background-color: #282c33;

    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/blairhall.jpg);
}

html {
    background-color: #282c33;
}
