.submit {
    /*Background image*/
    background-image: url(../assets/studio.jpg);
    background-position: center;
    background-size: cover;

    height: 400px;
}

.submit-right {
    width: 50%;
    float: right;
    height: 100%;
}

.submit-card {
    width: 100%;
    height: 60%;
    margin: 10% 0;
    padding: 24px;

    background-image: url('http://cdn.wallpapersafari.com/96/31/jmrANo.jpg');
    background-size: cover;
    border-radius: 8px 0 0 8px;

    display: flex;
    flex-direction: column;
}

.submit-buttons {
    width: 60%;
    margin: auto;
    background-color: #ffbf00;
}

.submit-buttons:focus {
    outline: none;
}

.submit h1 {
    color: white;
    text-align: center;
}

@media (max-width: 480px) {
    .submit-right {
        width: 80%;
        margin: 10% 10%;
    }

    .submit-card {
        width: auto;
    }
}
