.venue {
    float: right;
    background-image: url(http://c8.alamy.com/comp/E4CJG4/cannon-green-at-princeton-university-with-east-pyne-to-the-right-princeton-E4CJG4.jpg);
    background-size: cover;
    background-position: center;

    position: relative;
    box-sizing: border-box;
    padding: 52px;
}

.venue-card {
    width: 400px;
    margin-top: 50px;
    margin: auto;
    padding: 80px;
    background-image: url(../assets/picture-frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;

    color: white;
    text-align: center;
}

.venue-card a {
    color: gold;
}

.picture-frame {
    width: 400px;
    margin: auto;
    display: block;
}
