.venue {
    float: right;
    background-image: url(https://www.princeton.edu/~oktour/virtualtour/korean/Images/Expansions/EastPyneExp.jpg);
    background-size: cover;
    background-position: center;

    position: relative;
    box-sizing: border-box;
    padding: 52px;
}

.venue-card {
    width: 400px;
    margin-top: 50px;
    margin: auto;
    padding: 80px;
    background-image: url(../assets/picture-frame.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    text-align: center;
}

.venue-card a {
    color: gold;
}

@media (max-width: 480px) {
    .venue-card {
        width: 100%;
        box-sizing: border-box;
    }
}
